@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This is a User Management System where you can Create the data, Read the data, Update the data and Delete the data of a user. </p>
